<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">

            <li>
                <a routerLinkActive="active-link" routerLink="/home"><i class="fa fa-desktop "></i>Escritorio</a>
            </li>


            <li>
                <a routerLinkActive="active-link" routerLink="/pasajeActivo"><i class="fa fa-table "></i>Pasajes activos</a>
            </li>
            <li>
                <a routerLinkActive="active-link" routerLink="/pasaje"><i class="fa fa-edit "></i>Historial de pasajes</a>
            </li>


            <li>
                <a routerLinkActive="active-link" routerLink="/cliente"><i class="fa fa-qrcode "></i>Clientes</a>
            </li>
            <li>
                <a routerLinkActive="active-link" routerLink="/chofer"><i class="fa fa-bar-chart-o"></i>Choferes</a>
            </li>

            <li>
                <a routerLinkActive="active-link" routerLink="/usuario"><i class="fa fa-edit "></i>Usuarios</a>
            </li>
            <li>
                <a routerLinkActive="active-link" routerLink="/rol"><i class="fa fa-table"></i>Roles</a>
            </li>
            <li>
                <a routerLinkActive="active-link" routerLink="/configuracion"><i class="fa fa-table"></i>Configuracion</a>
            </li>
        </ul>
    </div>

</nav>