<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <div class="login100-form validate-form flex-sb flex-w">
                <span class="login100-form-title p-b-51">
                    Del bono remis
                </span>

                
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Username is required">
                    <input [(ngModel)]="login.usuario" class="input100" type="text" name="username" placeholder="Nombre de usuario">
                    <span class="focus-input100"></span>
                </div>
                
                
                <div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
                    <input [(ngModel)]="login.password" class="input100" type="password" name="pass" placeholder="Contraseña">
                    <span class="focus-input100"></span>
                </div>
                
                

                <div class="container-login100-form-btn m-t-17">
                    <button (click)="logear()" class="login100-form-btn">
                        Ingresar
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>